@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

/* font */
.fw-normal {
    font-weight: 500 !important;
}

.fw-bolder {
    font-weight: 600 !important;
}

/* navbar */
.nav-link {
    font-weight: 400;
    font-size: 1.25rem;
}

.nav-link:hover {
    border-radius: 8px;
    box-shadow: 0.2rem 0.2rem 0.75rem rgba(45, 54, 122, 0.2);
    font-weight: 400;
    font-size: 1.25rem;
}

.bg-primary {
    background-color: #00923f !important;
}

.text-primary {
    color: #00923f !important;
}

.text-dark {
    color: #0c321d !important;
}

.text-black {
    color: #080808;
}

.navbar-nav.mx-auto a {
    color: #00923f;
}

.card {
    border-radius: 0.5rem;
}

.card-img-top {
    border-top-left-radius: calc(0.5rem - 1px);
    border-top-right-radius: calc(0.5rem - 1px);
}

.active {
    color: #171B3D !important;
}

footer {
    background-color: #00923f !important;
}

.btn-primary {
    background-color: #00923f;
    border-color: #00923f;
}

.btn-primary:hover {
    background-color: #0c321d;
    border-color: #0c321d;
}

.btn-primary:focus {
    background-color: #00923f;
    border-color: #00923f;
    box-shadow: 0 0 0 0.25rem rgba(23, 76, 29, 0.503);
}

.btn-primary:active {
    background-color: #00923f;
    border-color: #00923f;
}

.btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(23, 76, 29, 0.503);
}

.btn-outline-primary {
    border-color: #00923f;
    color: #00923f;
}

.btn-outline-primary:hover {
    border-color: #00923f;
    background-color: #00923f;
}

.btn-outline-primary:active {
    background-color: #00923f;
    border-color: #00923f;
}

.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(23, 76, 29, 0.503);
}

.btn-outline-primary.active {
    color: #FFFFFF !important;
    border-color: #00923f !important;
    background-color: #00923f !important;
}

.btn-outline-primary.active:focus {
    box-shadow: 0 0 0 0.25rem rgba(23, 76, 29, 0.503);
}

main>.container {
    padding: 60px 15px 0;
}

.carousel-item img {
    height: 320px;
}

.card:hover {
    box-shadow: 0 1rem 3rem rgba(23, 76, 29, 0.503);
}

.card img {
    height: 200px;
}


.border {
    border: 1px gray;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 100px;
    padding-top: 50px;
    border-radius: 20px;
}

.form-control:focus {
    border-color: #00923f;
    box-shadow: 0 0 0 0.25rem rgba(23, 76, 29, 0.503);
}

#hero-section {
    min-height: 50vh;
}

.carousel-dark .carousel-indicators li {
    background-color: #0c321d;
}

.carousel-indicators-custom {
    bottom: -60px;
}

.list-group-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    z-index: 1;
    color: #060812;
    text-decoration: none;
    background-color: rgba(23, 76, 29, 0.503);
}

.img-sidebar img {
    height: 100%;
}

.comment-box {
    position: relative;
    padding: 3rem 2rem;
}

.box-title {
    background: #FFFFFF;
    left: 5%;
    padding: 0.5rem 1rem;
    position: absolute;
    text-align: center;
    top: -18px;
}

.small-badge {
    font-size: 0.8rem;
}

.rounded {
    border-radius: 0.5rem !important;
}

.btn {
    border-radius: 0.4rem;
}

.border-primary {
    border-color: #00923f !important;
}

/* card */
.card{
    height: 22rem;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row .col-md-4>img {
    height: 210px;
}

.form-check-input:focus {
    border-color: #05d016;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(23, 76, 29, 0.503);
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234D5ABD'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input:checked {
    background-color: #00923f;
    border-color: #00923f;
}



/* detail event */
.event-photo img{
    max-height: 700px;
    max-width: 100%;
}

.event-price h2{
    color: #00923f;
}

/* divider */
.divider{
    border-top: 8px solid #a9c9b7;
    border-radius: 4px;
}

  /* about-us */
.our-team{
      border: #00923f;
      background-color: #d1ffe5;
}